<main>
  <h1>{{ headline.short }} -- H1</h1>
  <p>{{ excerpt.medium }}</p>
  <h2>{{ headline.short }} -- H2</h2>
  <p>{{ excerpt.medium }}</p>
  <h3>{{ headline.short }} -- H3</h3>
  <p>{{ excerpt.medium }}</p>
  <h4>{{ headline.short }} -- H4</h4>
  <p>{{ excerpt.medium }}</p>
  <h5>{{ headline.short }} -- H5</h5>
  <p>{{ excerpt.medium }}</p>
  <h6>{{ headline.short }} -- H6</h6>
  <p>{{ excerpt.medium }}</p>

  <h2>Unordered List</h2>
  <h3>With lines</h3>
  <ul>
    <li>Lorem ipsum.</li>
    <li>Esse, nesciunt!</li>
    <li>Laudantium, porro!</li>
  </ul>

  <h3>Without lines</h3>
  <p>Place <code>class="ul-no-lines"</code> on container</p>
  <div class="ul-no-lines">
    <ul>
      <li>Lorem ipsum.</li>
      <li>Esse, nesciunt!</li>
      <li>Laudantium, porro!</li>
    </ul>
  </div>

  <h2>Ordered List</h2>
  <ol>
    <li>Lorem ipsum.</li>
    <li>Iure, voluptatem.</li>
    <li>Molestias, nobis.</li>
  </ol>

  <h2>Horizontal Rule</h2>
  <hr>

  <h2>Inline Elements</h2>
  <p><a href="#">This is a text link</a></p>
  <p><strong>Strong is used to indicate strong importance</strong></p>
  <p><em>This text has added emphasis</em></p>
  <p>The
    <b>b element</b> is stylistically different text from normal text, without any special importance
  </p>
  <p>The <i>i element</i> is text that is set off from the normal text</p>
  <p>The
    <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation
  </p>
  <p>
    <del>This text is deleted</del>
    and
    <ins>This text is inserted</ins>
  </p>
  <p><s>This text has a strikethrough</s></p>
  <p>Superscript<sup>®</sup></p>
  <p>Subscript for things like H<sub>2</sub>O</p>
  <p><small>This small text is small for for fine print, etc.</small></p>
  <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
  <p>Keybord input: <kbd>Cmd</kbd></p>
  <p>
    <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q>
  </p>
  <p><cite>This is a citation</cite></p>
  <p>The <dfn>dfn element</dfn> indicates a definition.</p>
  <p>The
    <mark>mark element</mark>
    indicates a highlight
  </p>
  <p><code>This is what inline code looks like.</code></p>
  <p><samp>This is sample output from a computer program</samp></p>
  <p>The <var>variarble element</var>, such as <var>x</var> = <var>y</var></p>

  <h2>Address</h2>
  <address>
    Mozilla Foundation<br>
    1981 Landings Drive<br>
    Building K<br>
    Mountain View, CA 94043-0801<br>
    USA
  </address>

  <h2>Blockquote</h2>
  <blockquote>
    <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text, and typically distinguished visually using indentation and a different typeface or smaller size quotation.</p>
  </blockquote>

  <h2>Definition List</h2>
  <dl>
    <dt>Definition List</dt>
    <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
    <dt>This is a term.</dt>
    <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
    <dt>Here is another term.</dt>
    <dd>And it gets a definition too, which is this line.</dd>
    <dt>Here is term that shares a definition with the term below.</dt>
    <dd>And it gets a definition too, which is this line.</dd>
  </dl>
</main>
